html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

input[type="text"], input[type="number"] {
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 4px;
    padding-left: 10px;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #f1f1f1;
    /*height: 100%;*/
    width: 17%;
    padding: 0 20px;
}

.main {
    width: 45%;
    overflow-y: auto;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-wrapper input {
    margin-top: 15px;
}

.flex-row {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.year-format {
    display: flex;
    justify-content: space-between;
}

.year-format input {
    width: 47%;
}

.year {
    margin-right: 15px;
}

[type="button"], [type="Submit"] {
    height: 35px;
    width: 100px;
    border: 1px solid grey;
    border-radius: 4px;
    overflow-x: hidden;
}

.order {
    width: 150px;
    /*overflow-x: hidden;*/
}

.upload [type="Submit"] {
    margin-top: 10px;
    width: 100%;
}

.upload {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.movie {
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
}

.movie:hover {
    background: #ebecef;
    font-weight: bold;
    color: #666699
}

span {
    margin-left: 25px;
    display: block;
    width: 100%;
}

span:hover {
    cursor: pointer;
}

.add-movie {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.year {
    border: 1px solid grey;
    border-radius: 4px;
    width: 150px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.del {
    position: absolute;
    color: #dbdbdb;
    /*right: 10px;*/
    right: 1%;
    font-size: 28px;
    font-weight: bold;
}

.close {
    position: relative;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.del:hover,
.del:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
